/** {
	border: 1px solid black;
}*/
body {
	margin: 0;
	text-align: center;
	font-family: sans-serif;
	background-size: 100% 150%;
}
.container {
	max-width: 1200px;
	min-width: 960px;
	margin: 0 auto;
}
section:first-child, section:nth-child(2) {
	height: 550px;
	margin-bottom: 1.5em;
}
div, #tab div {
	position: relative;
}
#menu {
	float: left;
	width: 66%;
}
.column {
	float: left;
	width: 46%;
	margin: 1.3%;
}
#menu .item {
	height: 70px;
	padding: 0.2em;
	border: 1px solid black;
	border-radius: 0.2em;
	line-height: 100%;
	background: linear-gradient(#efefef,#e5e5e5);
	box-shadow: 0 0 3px #cecece inset;
}
.item {
	cursor: pointer;
}
.item:active, #menu .item:active {
	background: #c0c0c0;
}
.item:hover, #menu .item:hover {
	box-shadow: 0 0 8px #8a8a8a;
}
#menu .item p {
	margin: 0.7em;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
h1, h2 {
	margin: 0.4em;
}
#tab {
	width: 25%;
	float: right;
	text-align: left;
	border: 1px solid black;
}
#tab > div:first-child {
	height: 455px;
	padding: 0.5em 0 0 0;
	overflow: auto;
	box-shadow: 0 0 6px #aaaaaa inset;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#tab ul div {
	display: block;
	border-bottom: 1px dashed black;
	padding: 0.4em 0;
	position: relative;
	width: 100%;
	margin: 0;
}
#tab p {
	margin: 0 0.5em;
	display: inline-block;
}
#total-box {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 1px solid black;
}
#total-box div, #total-box li {
	padding: 0.4em 0 0.4em 0.3em;
}
#tab .price {
	display: inline-block;
	position: absolute;
	right: 0;
	margin-right: 0.4em;
}
#total-box div:last-child {
	border-top: 1px dashed black;
}
#checkout {
	margin: 0.5em auto;
	width: 100%;
	padding: 0.4em 0;
	display: block;
}
#history {
	clear: both;
}
details {
	display: none;
}