/** {
	border: 1px solid black;
}*/
body {
	margin: 0;
	text-align: center;
	font-family: sans-serif;
	background-size: 100% 150%;
}
.container {
	max-width: 1200px;
	min-width: 960px;
	margin: 0 auto;
}
section:first-child, section:nth-child(2) {
	min-height: 550px;
	margin-bottom: 1.5em;
}
div {
	position: relative;
}
#menu {
	float: left;
	width: 66%;
}
.column {
	float: left;
	width: 46%;
	margin: 1.3%;
}
#menu .item {
	height: 70px;
	padding: 0.2em;
	border: 1px solid black;
	border-radius: 0.2em;
	line-height: 100%;
	background: linear-gradient(#efefef,#e5e5e5);
	box-shadow: 0 0 3px #cecece inset;
}
.item, #history div ul li {
	cursor: pointer;
}
.item:active, #menu .item:active, #history div ul li:active {
	background: #c0c0c0;
}
#tab .item:hover, #menu .item:hover {
	box-shadow: 0 0 8px #8a8a8a;
}
#menu .item p {
	margin: 0.7em;
	/*
	these were giving an error during validation for some reason
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	*/
}
h1, h2 {
	margin: 0.4em;
}
section#tab {
	width: 25%;
	float: right;
	text-align: left;
	position: relative;
	border: 1px solid black;
}
#tab > div:first-child {
	padding: 0.5em 0 0 0;
	overflow: auto;
	box-shadow: 0 0 6px #aaaaaa inset;
	height: 390px;
	border-bottom: 1px solid black;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#tab ul div {
	display: block;
	border-bottom: 1px dashed black;
	padding: 0.4em 0;
	position: relative;
	width: 100%;
	margin: 0;
}
#tab p {
	margin: 0 0.5em;
	display: inline-block;
}
div#total-box {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 0.2em;
}
#total-box div {
	padding: 0.4em 0 0.4em 0.3em;
}
#tab .price {
	display: inline-block;
	position: absolute;
	right: 0;
	margin-right: 0.4em;
}
#tab .price input {
	width: 4em;
	font-size: 16px;
	border: 1px solid #dadada;
	background: #fdfdfd;
	padding-left: 0.2em;
}
#total-box div:nth-child(3) {
	border-top: 1px dashed black;
}
button#checkout {
	margin: 0.5em auto;
	width: 95%;
	padding: 0.4em 0;
	display: block;
}
#history {
	clear: both;
}
#history ul li {
	margin: 1em 0;
	padding: 0.4em 0;
}
#history .details .item {
	cursor: default;
	float: none;
	width: 100%;
	margin: 0.4em 0;
}
#history .item p {
	margin: 0.2em 0;
}
#history ul li:hover {
	background: #eaeaea;
}
div.details {
	box-shadow: 0 0 6px #9d9d9d inset;
	background: #dadada;
	padding: 1px 0;
}
.hidden {
	display: none;
}
